.wp-list-table .spd-copy-url { background-color: var(--wp-admin-theme-color); border-radius: 5px; color: #fff; cursor: pointer; padding: 5px; width: 100px; }
.spd-copy-url { transition: all linear 0.3s; }
.spd-copy-url.info-copied { background-color: green !important; scale: 1.1 !important; }
.spd-copy-url.info-copied:after { content: attr(data-copied); display: block; color: lightgreen; padding-top: 0.5em; font-size: 70%; font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }
.wp-list-table .spd-copy-url.info-copied:after { color: green; }
.spd-copy-url.info-copied.button:after { display: inline-block; font-size: 100%; padding-top: 0; margin-left: 1em; }
